#slider { 
margin-left: 160px; 
}


}
start-year{
margin-left: 150px;	
font-size: 20px;
}

body {
  font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 80px;
  margin-right: 80px;
  font-size: 20px;
}
reset{
	position: center;
}
container{
	margin-left: 15px;
	padding-left: 15px;
}

}
p{
	font-size: 10;
}


.dc-table-group{display:none}

h1{
	text-align:center;
}
h2{	
	text-align:center;
}
h3{	
	text-align:center;
}
h4{	
	text-align:center;
}